
<div class="message">
    <div class="message-header">
      <div>
        <strong>From :</strong><%= message.sender.name %>
      </div>

      <div>
        <strong>To :</strong><%= message.recipient.name %>
      </div>

    <div class="message-body">
      <strong>Message</strong><%= message.body %>
    </div>
  </div>
