
<div class="columns">
  <div class="column is-half is-offset-one-quarter card">
    <%= form_tag sessions_new_path do  %>
      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <%= text_field_tag params[:email]%>
        </div>
      </div>

      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <%= text_field_tag params[:password]%>
        </div>
      </div>

      <div class="field is-grouped">
          <div class="control">
            <%= submit_tag 'Enter' , class:"button is-primary" %>
          </div>
      </div>
    <% end %>
  </div>
</div>





