<h1>Create New User</h1>

<div class="columns">
<div class="column">

<ul class="error">
  <% if @user.errors.present? %>
    <% @user.errors.full_message.each do |error|%>
     <li><%= error %></li>
    <% end %>
  <% end %>
</ul>


<%= render  "form" , user: @user  %>

</div>
</div>





