// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html , body {
  width: 100%;
  height: 100%;
}

nav.navbar {
  background-color: #000;
}

.toRight{
  float:right;
  margin-left: 600px;
}

.navbar-brand a{
  color: #fff;
}

.box{
  float: right;
  margin-left: 150px;
}



